:root{
  --texto1: #1A2856;
  --texto2: #64748B;
  --border:#E2E8F0;
}

.nome-aluno{
  color: var(--texto1);
}

.small-date {
  color: var(--texto2);
}

.custom-card {
  border: 1px solid #E2E8F0;
  border-radius: 8px;
  margin-bottom: 8px;
}
